define a variable
the equals sign is and assignment operator.

insert cell above = type a

In [1]:
x=5

In [2]:
print (x)

5

In [1]:
x1 = 6

In [2]:
x1

6

character is a string. string need to use ''.

In [7]:
house = 'mt eden'
print (house)

mt eden

In [6]:
name = 'abby'
print (name)

abby

use type function to know the type of the names.

In [10]:
type(name)

str

In [14]:
type(x)

NameError: name 'x' is not defined

rules around variable names
# 1 they can't start with numbers. I can define x1. but I can define 1x.
# 2 variable names  always start with lower case letters.