In [1]:
import pandas as pd
emissions = pd.DataFrame({"country":['China','United States','India'],
"year":['2018','2018','2018'],
"co2_emissions":[1111,2222,3333]})
emissions

         country  year  co2_emissions
0          China  2018           1111
1  United States  2018           2222
2          India  2018           3333

use pd.set_option('max_rows') to max columns

NameError: name 'DataFrame' is not defined