pandas fundamentals

A dictionary is a python structure which stores key value pairs. The keys are name, city and score. And the valude are lists, as denoted by the square brackets.

In [6]:
import pandas as pd
scores = {"name":['Ray','Japhy','Zosa'],
          "city":['San Francisco','San Francisco','Denver'],
          "Score":[75,92,94]}
df = pd.DataFrame(scores)
df

    name           city  Score
0    Ray  San Francisco     75
1  Japhy  San Francisco     92
2   Zosa         Denver     94

use "df" to print out the dataframe.
Each column is a series. Column nams in square brackets. "0","1","2" are index.

In [7]:
df['name']

0      Ray
1    Japhy
2     Zosa
Name: name, dtype: object

In [11]:
df['Score']

0    75
1    92
2    94
Name: Score, dtype: int64

df.Score can also print out Score column

In [12]:
df.Score

0    75
1    92
2    94
Name: Score, dtype: int64

creat a new column= df['new name ']

In [13]:
df['name_city']=df["name"] +df['city']

In [14]:
df['name_city']

0      RaySan Francisco
1    JaphySan Francisco
2            ZosaDenver
Name: name_city, dtype: object

In [15]:
df

    name           city  Score           name_city
0    Ray  San Francisco     75    RaySan Francisco
1  Japhy  San Francisco     92  JaphySan Francisco
2   Zosa         Denver     94          ZosaDenver

In [9]:
df=dataframes

NameError: name 'df' is not defined

use"df" to print out the scores higher than 90.

In [11]:
import pandas as pd
df =pd.DataFrame('Scores')

ValueError: DataFrame constructor not properly called!